.single-card { border: 1px solid #0069ff; position: relative; }

@media (max-width: 991px) { .single-card { margin-bottom: 20px; height: 460px; } }

@media (min-width: 768px) and (max-width: 991px) { .single-card { height: 390px; } }

@media (min-width: 992px) { .single-card { min-width: 362px; min-height: 460px; } }

.single-card::before { content: ""; position: absolute; right: 0px; top: 0px; border-top: 180px solid #0069ff; border-left: 180px solid transparent; }

.single-card .square { background: #0069ff; border-left: 1px solid white; top: 0px; right: 0px; position: absolute; border-bottom: 1px solid white; overflow: hidden; height: 100px; width: 81px; }

@media (max-width: 991px) { .single-card .square { height: 89px; width: 92px; } }

.single-card .square::before { top: 0; content: " "; height: 1px; position: absolute; transform: rotate(51deg); background: #FFFFFF; transform-origin: left; left: 0; z-index: 2; width: 128px; }

@media (max-width: 991px) { .single-card .square::before { transform: rotate(44deg); } }

.single-card .industy-card-wrapper { margin-top: 58px; margin-left: 20px; }

.single-card .industy-card-wrapper .industry-content { margin-top: 40px; max-width: 276px; }

@media (min-width: 768px) and (max-width: 991px) { .single-card .industy-card-wrapper .industry-content { max-width: 490px; } }

.single-card .industy-card-wrapper .industry-content p { font-size: 16px; line-height: 26px; color: #1C1C1C; }

.single-card .industy-card-wrapper .industry-content p:first-child { color: #0069ff; font-family: "KareliaWeb Medium", sans-serif; font-size: 40px; line-height: 44px; margin-bottom: 16px; }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .single-img-fullwidth-parallax .parallax-layer-2 { background: #0069ff; } }

.about-us .fullwidth-text { margin: 0; }

@media (min-width: 768px) and (max-width: 991px) { .about-us .fullwidth-text { margin: 80px 0 0 0; } }

.about-us .mdd-map { margin: 0; }

@media (min-width: 992px) { .about-us .mdd-map .map-wrapper { padding: 140px 0px 140px 0px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .mdd-map .map-wrapper { padding: 80px 45px 75px 35px; } }

.about-us .mdd-map .map-grid { z-index: 99; background: #FFFFFF; }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .mdd-map .map-grid { padding-top: 10px; } }

@media (min-width: 992px) { .about-us .mdd-map .map-grid.red-dot-bg::before { content: unset; } }

@media (max-width: 991px) { .about-us .mdd-map .map-grid .map-image { padding: 10px 0px; } }

@media (max-width: 991px) { .about-us .mdd-map .map-country { margin: 40px -21px 0px -21px; } }

@media (min-width: 768px) and (max-width: 991px) { .about-us .mdd-map .map-country { margin-bottom: 60px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .mdd-map .map-country { padding-right: 10px; } }

@media (min-width: 992px) { .about-us .single-img-fullwidth-parallax { margin-bottom: 0; } }

@media (min-width: 768px) and (max-width: 991px) { .about-us .single-img-fullwidth .single-img-content-wrapper .container-fluid-custom { max-width: unset; padding: 0 70px; margin-bottom: 20px; } }

.about-us .single-img-fullwidth .single-img-content-wrapper .paragraph { margin-left: 66px; max-width: 399px; }

.about-us .career-small-number-grid { margin: 42px 0; }

.about-us .career-small-number-grid .container { max-width: 100%; margin: 0 1.953vw; }

@media (min-width: 1200px) { .about-us .career-small-number-grid .container { max-width: 1146px; margin: 0 auto; } }

@media (max-width: 991px) { .about-us .career-small-number-grid .container-right-fluid { margin-left: 20px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .career-small-number-grid .container-right-fluid { margin: 0 0 0 40px; } }

@media (min-width: 992px) { .about-us .career-small-number-grid { margin-bottom: 140px; overflow: hidden; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .career-small-number-grid { overflow-x: scroll; } }

@media (min-width: 992px) { .about-us .leaders-carousal-wrapper { margin: 24px 0px 140px 0px; } }

@media (min-width: 992px) { .about-us .leaders-carousal-wrapper .leader-bio, .about-us .leaders-carousal-wrapper .leader-name { margin-left: 9px; } }

@media (min-width: 992px) { .about-us .leaders-carousal-wrapper .container { padding-top: 20px; } }

@media (min-width: 992px) { .about-us .leader-carousal-bottom .read-more { margin-bottom: 4px; } }

@media (max-width: 991px) { .about-us .career-small-number-grid .container { padding: 0px 0px 0px 20px; } }

@media (max-width: 991px) { .about-us .career-small-number-grid .career-small-number-card-heading { font-size: 36px; line-height: 38px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .about-idustry-card { margin-right: 20px; } }

@media (max-width: 991px) { .about-us .newsroom-three-card { margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) { .about-us .newsroom-three-card { margin: 80px 0; } }

@media (min-width: 768px) and (max-width: 991px) { .about-us .timeline-carousel .timeline-carousels .timeline-thumb-carousel .swiper-button-next { top: 12%; } }

@media (max-width: 991px) { .about-us .timeline-carousel { margin: 0px 0px 80px 0px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .timeline-carousel .timeline-year::after { right: -67px; height: 112%; width: 70px; } }

@media (min-width: 992px) and (max-width: 1199px) { .about-us .timeline-carousel .timeline-year p { font-size: 18px; line-height: 24px; } }

.about-us .single-img-fullwidth-parallax { z-index: 1; }

@media (max-width: 991px) { .about-us .single-img-fullwidth-parallax { margin: 0; } }

@media (min-width: 1200px) { .about-us .industry-cards .container-right-fluid { max-width: 1146px; margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 991px) { .about-us .timeline-carousels { display: flex; align-items: center; justify-content: center; margin-top: 70px; } }
