@media (min-width: 992px) { .insight-landing-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 30px; margin: 0 0 60px 0; } }

.insight-landing-grid .insight-three-card-single { margin: 20px 0; }

.insight-landing-grid .insight-three-card-single a { display: flex; flex-direction: column; align-content: space-between; justify-content: space-between; height: 100%; }

@media (min-width: 992px) { .insight-landing-grid .insight-three-card-single { margin: 0; } }

@media (min-width: 992px) { .insight-landing-grid .insight-three-card-single:nth-child(1) { grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; grid-row-end: 3; } }

@media (min-width: 992px) { .insight-landing-grid .insight-three-card-single:nth-child(1) .insight-three-card-text { height: 100%; }
  .insight-landing-grid .insight-three-card-single:nth-child(1) .insight-three-card-text h4 { font-size: 40px; line-height: 46px; } }
